In [30]:
# Import necessary libraries for data handling and visualization
import pandas as pd                # For data manipulation
import numpy as np                 # For numerical operations
import matplotlib.pyplot as plt    # For plotting
import seaborn as sns              # For static graphs
import plotly.express as px        # For interactive charts
import warnings                    # To suppress warnings
warnings.filterwarnings('ignore') # Ignore warnings

In [31]:
# Load the raw CSV file to a DataFrame
df = pd.read_csv("/content/outfitters_raw.csv")

# Show the first few rows
df.head()

,Date,Product,Category,Price,Quantity,Total,Customer Name,City
0,2024-01-10,Sneakers,Men's Wear,"Rs. 3,000",3,3000,Ahmed Ali,Islamabad
1,2024-02-22,Hoodie,Men's Wear,-1000,2,"Rs. 3,000",NaN,Multan
2,2024-02-13,Sneakers,Men's Wear,"Rs. 3,000",2,"Rs. 3,000",Aisha Khan,Multan
3,2024-02-16,Sneakers,Women's Wear,-1000,4,3000,NaN,Lahore
4,2024-02-22,Hoodie,Men's Wear,1500,4,"Rs. 3,000",Usman Javed,Multan

In [32]:
# Check data structure, columns, and missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           500 non-null    object
 1   Product        500 non-null    object
 2   Category       500 non-null    object
 3   Price          500 non-null    object
 4   Quantity       500 non-null    int64
 5   Total          500 non-null    object
 6   Customer Name  406 non-null    object
 7   City           424 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.4+ KB

In [33]:
# Find and remove duplicate rows
df.duplicated().sum()
df = df.drop_duplicates()

In [34]:
# Count missing/null values
df.isnull().sum()

Date              0
Product           0
Category          0
Price             0
Quantity          0
Total             0
Customer Name    94
City             76
dtype: int64

In [35]:
# Fill missing values in 'City' and 'Customer Name' with 'Unknown'
df['City'] = df['City'].fillna('Unknown')
df['Customer Name'] = df['Customer Name'].fillna('Unknown')

In [36]:
# Remove currency symbols and commas, then convert to numeric
df['Price'] = df['Price'].astype(str).str.replace('Rs.', '', regex=False).str.replace(',', '', regex=False).str.strip()
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Total'] = df['Total'].astype(str).str.replace('Rs.', '', regex=False).str.replace(',', '', regex=False).str.strip()
df['Total'] = pd.to_numeric(df['Total'], errors='coerce')

#Convert in float
df['Price'] = df['Price'].astype(float)
df['Total'] = df['Total'].astype(float)

In [37]:
# Convert Date column to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [38]:
#Checking negative values and removed negative signs
print(df[df['Price'] < 0])
print(df[df['Quantity'] < 0])
print(df[df['Total'] < 0])

df['Price'] = df['Price'].abs()
df['Total'] = df['Total'].abs()

          Date   Product      Category   Price  Quantity   Total  \
1   2024-02-22    Hoodie    Men's Wear -1000.0         2  3000.0
3   2024-02-16  Sneakers  Women's Wear -1000.0         4  3000.0
5   2024-03-14     Jeans    Men's Wear -1000.0         4  4500.0
6   2024-02-15     Jeans  Women's Wear -1000.0         3  3000.0
14  2024-01-14     Jeans  Women's Wear -1000.0         3  3000.0
..         ...       ...           ...     ...       ...     ...
472 2024-02-09     Jeans    Men's Wear -1000.0         3  4500.0
474 2024-03-05       Cap  Women's Wear -1000.0         1  3000.0
483 2024-01-19   T-Shirt  Women's Wear -1000.0         4  3000.0
487 2024-03-14  Sneakers    Men's Wear -1000.0         3  3000.0
498 2024-01-07   T-Shirt  Women's Wear -1000.0         1  4500.0

    Customer Name       City
1         Unknown     Multan
3         Unknown     Lahore
5       Ahmed Ali     Lahore
6       Ahmed Ali     Multan
14    Usman Javed    Karachi
..            ...        ...
472      Ali Raza     Multan
474     Ahmed Ali  Hyderabad
483       Unknown    Karachi
487    Aisha Khan    Unknown
498       Unknown    Karachi

[102 rows x 8 columns]
Empty DataFrame
Columns: [Date, Product, Category, Price, Quantity, Total, Customer Name, City]
Index: []
          Date   Product      Category   Price  Quantity   Total  \
8   2024-02-06   T-Shirt  Women's Wear  1500.0         3 -4500.0
9   2024-01-24     Jeans  Women's Wear     0.0         4 -4500.0
10  2024-01-02       Cap    Men's Wear  1500.0         2 -4500.0
24  2024-02-12   T-Shirt    Men's Wear  3000.0         2 -4500.0
32  2024-01-16     Jeans  Women's Wear     0.0         4 -4500.0
..         ...       ...           ...     ...       ...     ...
477 2024-03-20    Hoodie    Men's Wear     0.0         4 -4500.0
481 2024-03-02   T-Shirt  Women's Wear     0.0         3 -4500.0
485 2024-03-20       Cap  Women's Wear  1500.0         2 -4500.0
492 2024-02-13  Sneakers    Men's Wear  1500.0         4 -4500.0
499 2024-03-18       Cap  Women's Wear  3000.0         1 -4500.0

    Customer Name       City
8     Usman Javed     Lahore
9        Ali Raza     Lahore
10    Usman Javed  Hyderabad
24        Unknown  Hyderabad
32     Aisha Khan  Hyderabad
..            ...        ...
477   Usman Javed  Hyderabad
481    Aisha Khan    Karachi
485    Aisha Khan  Islamabad
492    Aisha Khan    Unknown
499      Ali Raza  Hyderabad

[112 rows x 8 columns]

In [39]:
# Treat 0 as missing
df['Price'] = df['Price'].replace(0, np.nan)

# Fill missing prices using Total / Quantity
df['Price'] = df.apply(
    lambda row: row['Total'] / row['Quantity'] if pd.isna(row['Price']) and row['Quantity'] > 0 else row['Price'], axis=1)

In [40]:
#Calculate Total Column
df['Total'] = df['Price'] * df['Quantity']

In [41]:
df['Product'] = df['Product'].str.strip().str.title()
df['Category'] = df['Category'].str.strip().str.title()
df['Customer Name'] = df['Customer Name'].str.strip().str.title()
df['City'] = df['City'].str.strip().str.title()

In [44]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           500 non-null    datetime64[ns]
 1   Product        500 non-null    object
 2   Category       500 non-null    object
 3   Price          500 non-null    float64
 4   Quantity       500 non-null    int64
 5   Total          500 non-null    float64
 6   Customer Name  500 non-null    object
 7   City           500 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 31.4+ KB

,Date,Product,Category,Price,Quantity,Total,Customer Name,City
0,2024-01-10,Sneakers,Men'S Wear,3000.0,3,9000.0,Ahmed Ali,Islamabad
1,2024-02-22,Hoodie,Men'S Wear,1000.0,2,2000.0,Unknown,Multan
2,2024-02-13,Sneakers,Men'S Wear,3000.0,2,6000.0,Aisha Khan,Multan
3,2024-02-16,Sneakers,Women'S Wear,1000.0,4,4000.0,Unknown,Lahore
4,2024-02-22,Hoodie,Men'S Wear,1500.0,4,6000.0,Usman Javed,Multan
...,...,...,...,...,...,...,...,...
495,2024-01-22,Hoodie,Women'S Wear,3000.0,1,3000.0,Aisha Khan,Hyderabad
496,2024-02-26,Hoodie,Women'S Wear,1500.0,3,4500.0,Usman Javed,Karachi
497,2024-03-12,Sneakers,Men'S Wear,1000.0,3,3000.0,Ali Raza,Islamabad
498,2024-01-07,T-Shirt,Women'S Wear,1000.0,1,1000.0,Unknown,Karachi
499,2024-03-18,Cap,Women'S Wear,3000.0,1,3000.0,Ali Raza,Hyderabad

In [43]:
# Save cleaned file
df.to_csv("outfitter_cleaned_data.csv", index=False)